@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject TokenService TokenService
@inject ILogger<MainLayout> Logger
@using Blazor.Data
@inject SignalRService SignalRService
@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims
@using Blazored.Toast
@using Blazored.Toast.Services

@using Microsoft.AspNetCore.SignalR.Client



<BlazoredToasts />
<PageTitle>BlogWorld</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
  
        
    protected override async Task OnInitializedAsync()
    {
   
        
    }

    public async ValueTask DisposeAsync()
    {
        await SignalRService.Disconnect();
    }

 
    
}
