
@inject NavigationManager NavigationManager


<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor</a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
         <div class="nav-item px-3 mb-3"> 
            <div class="input-group">
                <input @bind="tag" type="text" class="form-control" placeholder="Search Blog.." />
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" @onclick="Search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blogs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blogs
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string tag;
   


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void Search()
    {
        if (!string.IsNullOrEmpty(tag))
        {
            NavigationManager.NavigateTo($"/search/{Uri.EscapeDataString(tag)}");
        }
    }


}
