@page "/"
@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt;
@using Microsoft.AspNetCore.Identity;
@using SharedModels.Entities

@inject NavigationManager NavigationManager
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<h1>BlogWorld</h1>

Welcome to our Blogs.

@if (user.Identity.IsAuthenticated)
{
    <p>Hello, @_username!</p>
    <Blog /> @* Her brukes Blog-komponenten *@
}
else
{
    <p>User not authenticated. Please log in</p>
}
<button class="btn btn-success ml-auto" @onclick="@(() => GoToBlogs())">Go to blogs</button>


@code {
    private ClaimsPrincipal user;
    private string _username;
    private IdentityUser user2;
    private string tag;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        _username = user?.FindFirst(JwtRegisteredClaimNames.Sub)?.Value;
;
    }

    private void GoToBlogs()
    {
        NavigationManager.NavigateTo("/blogs");
    }
    

}
