@page "/"
@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt;
@using Microsoft.AspNetCore.Identity;
@using SharedModels.Entities

@inject NavigationManager NavigationManager
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<h1 class="blog-title">BlogWorld</h1>

<h1 class="centered-large-text">Welcome to our Blogs</h1>

@if (user.Identity.IsAuthenticated)
{
    <p>Hello, @_username!</p>
    <Blog /> @* Her brukes Blog-komponenten *@
}
else
{
    <p class="centered-large-text">To log in, click the <a href="Login">Log in</a> button</p>
    <p class="centered-large-text">   If you are not registered, please click the <a href="Register">Register</a> button.</p>
}




@code {
    private ClaimsPrincipal user;
    private string _username;
    private IdentityUser user2;
    private string tag;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        _username = user?.FindFirst(JwtRegisteredClaimNames.Sub)?.Value;
;
    }

    private void GoToBlogs()
    {
        NavigationManager.NavigateTo("/blogs");
    }
    

}
