@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.navbar-custom {
    background-color: #feb640 !important;
    
}

.blog-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.blog-post-title {
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
}

    .blog-post-title:hover {
        color: #0056b3;
        text-decoration: none;
    }

.blog-post {
    margin-bottom: 0.5rem;
    padding: 10px;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #6c757d;
}

.centered-large-text {
    text-align: center;
    font-size: 20px; 
}
.blog-post-even {
    background-color: #ffdf7c /* Lett grå for partallselementer */
}

.blog-post-odd {
    background-color: #ffffff; /* Hvit for oddetallselementer */
}

.blog-post {
    background-color: #fdefc0; /* Lett bakgrunnsfarge */
    padding: 20px;
    margin-bottom: 10px;
    border-left: 5px solid #feb640; /* Accentfarge fra paletten din */
}

.blog-post-title {
    color: #243127; /* Tittel farge fra paletten */
    text-decoration: none; /* Ingen understrek */
}

    .blog-post-title:hover {
        color: #a46379; /* Hover farge fra paletten */
    }

.blog-post-meta {
    color: #243127; /* Meta-info farge fra paletten */
    margin-bottom: 15px;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1; /* Skille mellom kommentarer */
}

    .comment .rounded-circle {
        border: 3px solid #feb640; /* Ramme farge som matcher paletten */
    }

.post-container {
    border: 1px solid #dee2e6; /* Grå ramme */
    background-color: #f8f9fa; /* Lys grå bakgrunnsfarge */
    padding: 1rem;
    margin-bottom: 1rem; /* Gir litt plass mellom postene */
}

.comment-container {
    background-color: #ffffff; /* Hvit bakgrunnsfarge for kommentarene */
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.comment-separator {
    border-top: 1px solid #dee2e6; /* Grå linje mellom kommentarer */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.small-text {
    font-size: 0.75rem; /* Mindre skrift for metadata */
}

.post-content {
    font-family: 'Times New Roman', Times, serif; /* eller en annen skrifttype som du foretrekker */
    font-size: 1.25rem; /* eller større basert på dine preferanser */
    line-height: 1.6; /* Dette gir mer plass mellom linjene for bedre lesbarhet */
    max-width: 1000px; /* Tilpasser maksimal bredde for bedre linjelengde */
    margin-left: auto; /* Senterer teksten horisontalt */
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: justify; /* Justerer teksten for en ren og jevn kant på begge sider */
    padding: 1rem; /* Tilføyer litt plass rundt teksten */
}











#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

